@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply font-sans bg-primary h-full w-full !overflow-hidden;
}

@layer components {
    .transition-colors-fast {
        @apply transition-colors duration-75;
    }
}

p, h1, img {
    @apply select-none;
}

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-header rounded-md;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.split {
    @apply flex flex-row;
}

.gutter {
    background-color: #414248;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}
